*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
#box{
    width: 100%;
    height: 100%;
    background-color: black;
}
#box1{
    width: 100%;
    height: 100%;
    background-color: rgb(69, 175, 228);
}
#box1 h1{
    font-size: 32vw;

}
#box2{
    width: 100%;
    height: 100%;
    background-color: black;
}

