*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
#box{
    height: 150px;
    width: 150px;
    background-color: lightblue;
}
button{
    margin-top: 10px;
    color: black;
    
}